<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
  }
  
  .ourServices {
    width: 100%;
    height: 100%;
  }
  .ourServices .servicesText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ourServices .mainService {
    display: flex;
  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .ourServices .service {
    width: 25%;
    height: 300px;
    padding: 2rem 1rem;
    background-color: white;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: #efecec;
    box-shadow: 0 2px 4px 0 rgb(255, 255, 255),
      0 6px 20px 0 rgba(225, 219, 219, 0.215);
  }
  
  .ourServices .service .serviceItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .ourServices .service .serviceItem i {
    font-size: 35px;
    margin: 1rem;
    color: #627cb7;
    color: rgba(94, 94, 210, 0.8);
    font-size: 2rem;
    position: absolute;
  }
  
  .iconWrapper {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ourServices .service .serviceItem span {
    font-size: 24px;
  }
  .ourServices .service .serviceItem p {
    font-size: 18px;
    color: #1a1033;
    text-align: center;
  }
  .ourServices .servicesText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
  
    font-family: sans-serif;

}

.menu-bar {

    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
}

.menu-bar ul li {
    
    padding-left: 1rem;
    padding-right: 1rem;;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white
}


.menu-bar ul li a:hover {
    color:#3375ec;
   
}

.menu-bar .fas {
    margin-right: 8px;
}

.menu-bar .fa {
    margin-right: 8px;
}

.sub-menu {
    display: none;

}

.menu-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: gray;
    margin-top: 15px;
    margin-left: -15px;
    font-size: 10px;


}

.menu-bar ul li:hover .sub-menu ul {
    display: block;

}

.menu-bar ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
    border-radius: 0;
    cursor: pointer;

}

.menu-bar ul li:hover .sub-menu ul li a:hover {
    color: rgb(230, 56, 56)
}

.navbar-brand{ 


 display: flex;
  
}
.header-navbar {
    display: inline-block;
    text-align: right;
    width: calc(100% - 400px);
}
.header-logo {
    display: inline-block;
    text-align: center;
}
.header-button {

}
.header {

 padding: 2rem;
 display: flex;
 justify-content: center;
 text-align: center;
}

main {
    height: 800px;
    background-image: url(../Görseller/gozlukgil.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.header-button{
    width: 100px;
}
>>>>>>> 919815549c0f147a2a4ceb2805fa2a8f809b3274
